<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}"> <!--layout:decorate : 기본레이아웃 설정-->
<head>
    <title>Board Read</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Board Read
                </div>
                <div class="card-body">

                </div>
            </div><!--card-->
        </div><!--col-->
    </div><!--row-->

</div><!--content-->

<script layout:fragment="script" th:inline="javascript">


</script>

</html>